$colors: (gold: #f7a537,
white: #dddfe0,
black: #3a383f,
red: #c30);

@function palette($color) {
  @return map-get($colors, $color);
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: palette(gold);
}

p {
  font-family: "Roboto Mono", monospace;
  text-align: center;
  color: palette(red);
  font-weight: bold;
  font-size: 3vmin;
}

.grid {
  position: relative;
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(23, 1fr);
  width: 100vmin;
  height: 80vmin;
  margin: 0 auto;
  padding: 4vmin;
}

%dot {
  border-radius: 100%;
}

@each $color,
$hex in $colors {
  %#{$color} {
    background-color: $hex;

    &-outlined {
      border: 1vmin solid $hex;
      background-color: transparent;
    }
  }
}

[class^='dot'] {
  @extend %dot;
}

.dot-1 {
  @extend %red;
  grid-column: 1;
  grid-row: 6;
}

.dot-2 {
  @extend %white;
  grid-column: 2 / span 2;
  grid-row: 3 / span 2;
}

.dot-3 {
  @extend %black-outlined;
  grid-column: 5;
  grid-row: 3;
}

.onion-container {
  display: grid;
  transform: rotate(45deg);
  grid-column: 2 / span 10;
  grid-row: 5 / span 10;

  &.onion-black {
    clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);

    .onion-inner,
    .onion-outer {

      &:before,
      &:after {
        @extend %black;
      }
    }
  }

  &.onion-white {
    clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);

    .onion-inner,
    .onion-outer {
      border-color: transparent;

      &:before,
      &:after {
        @extend %white;
      }
    }
  }
}

.onion-inner,
.onion-outer {
  @extend %dot;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  height: 100%;
  border: 1vmin solid transparent;
  grid-row: 1 / -1;
  grid-column: 1 /1;

  &:before,
  &:after {
    @extend %dot;
    @extend %gold-outlined;
    content: '';
  }
}

.onion-outer {
  border-color: palette(black);

  &:before {
    grid-row: 2 / span 8;
    grid-column: 2 / span 8;
  }

  &:after {
    grid-row: 3 / span 6;
    grid-column: 3 /span 6;
  }
}

.onion-inner {
  &:before {
    grid-column: 4 / span 4;
    grid-row: 4 / span 4;
  }

  &:after {
    grid-column: 5 / span 2;
    grid-row: 5 / span 2;
  }
}

.carrot-container {
  display: grid;
  grid-template-rows: repeat(18, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-column: 13 / span 3;
  grid-row: 1 / span 14;
}

.carrot-stem {
  position: relative;
  grid-row: 1 / span 3;
  grid-column: 2 / span 2;

  &:before,
  &:after {
    @extend %black-outlined;
    content: '';
    display: inline-block;
  }

  &:before {
    @extend %dot;
    width: 100%;
    height: 100%;
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  }

  &:after {
    position: absolute;
    right: 0;
    bottom: 1px;
    left: 0;
    width: 0;
    height: 100%;
    margin: 0 auto;
    border-width: .5vmin;
  }
}

.carrot-body {
  position: relative;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1vmin;
  grid-column: 1 / -1;
  grid-row: 5 / -1;
  clip-path: polygon(0% 0%, 100% 0%, 50% 100%);

  &:before {
    @extend %white;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: inline-block;
    width: 50%;
    height: 100%;
    content: '';
  }
}

.carrot-segment {
  @extend %red;
  position: relative;
  grid-column: 1 / -1;
  grid-row: span 2;

  &:before {
    @extend %gold;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    width: 2vmin;
    height: .6vmin;
    margin: 0 auto;
    content: '';
    transform: translateY(-50%);
  }

  &:last-of-type {
    grid-row: span 3;

    &:before {
      display: none;
    }
  }
}

.tomato-container {
  overflow: hidden;
  margin-right: 1vmin;
  grid-column: span 2;
  grid-row: 4 / span 6;
}

.tomato {
  @extend %dot;
  position: relative;
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(8, 1fr);
  width: 300%;
  height: 100%;

  &:before,
  &:after {
    content: '';
  }

  &:before {
    @extend %dot;
    @extend %gold-outlined;
    grid-row: 2 / span 6;
    grid-column: 2 / span 6;
  }

  &:after {
    @extend %gold;
    position: absolute;
    z-index: 1;
    top: 50%;
    bottom: 0;
    left: 4.5vmin;
    width: 2vmin;
    height: 2vmin;
    transform: rotate(45deg) translateY(-50%);
    border-radius: 80% 0 55% 50% / 55% 0 80% 50%;
  }

  &-red {
    @extend %red;
  }

  &-black {
    @extend %black;
  }

  &-white {
    @extend %white;
  }
}

.seeds {
  position: absolute;
  top: 50%;
  left: 4.5vmin;
  width: 7vmin;
  height: 9.5vmin;
  transform: translateY(-50%);

  &:before,
  &:after {
    @extend %gold;
    position: absolute;
    right: 0;
    display: inline-block;
    width: 2vmin;
    height: 10vmin;
    content: '';
    transform-origin: 0 50%;
    border-radius: 1vmin;
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:after {
    transform: rotate(45deg);
  }
}

.horizontal-lines {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-column: 16 / -1;
  grid-row: 11 / span 4;

  .line {
    @extend %black;
    height: .8vmin;
    border-radius: 1vmin;
  }
}

.kebab {
  display: grid;
  grid-template-columns: repeat(18, 1fr);
  grid-column: 2 / span 12;
  grid-row: 16 /span 2;

  >.dot {
    @extend %black;
    z-index: 1;
    padding-bottom: 100%;
    grid-row: 1;
    grid-column: 1 /span 4;
  }

  >.square-1 {
    @extend %white;
    grid-row: 1;
    grid-column: 3 / span 5;
  }

  >.square-2 {
    @extend %red;
    grid-row: 1;
    grid-column: 8 / span 5;
  }

  >.line {
    border-right: .8vmin solid palette(black);
    grid-column: span 1;
    grid-row: 1;
  }
}

.mushroom-container {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column-gap: 1vmin;
  grid-row: 16 / span 2;
  grid-column: 16 / -1;
}

.mushroom-up {
  position: relative;

  grid-column: span 2;

  &:before,
  &:after {
    content: '';
  }

  &:before {
    @extend %red;
    display: inline-block;
    width: 100%;
    height: 14vmin;
    border-radius: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 50%, 0% 50%);
  }

  &:after {
    @extend %black;
    position: absolute;
    top: 49%;
    right: 0;
    left: 0;
    display: inline-block;
    width: .7vmin;
    height: 4vmin;
    margin: 0 auto;
  }
}

.mushroom-down {
  position: relative;
  height: 10vmin;
  grid-column: 3 / span 3;

  &:before,
  &:after {
    content: "";
  }

  &:before {
    @extend %white;
    position: absolute;
    right: 0;
    left: 0;
    display: inline-block;
    $perfect-square: 4vmin;
    width: $perfect-square;
    height: $perfect-square;
    margin: 0 auto;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }

  &:after {
    @extend %black;
    @extend %dot;
    position: absolute;
    bottom: 0;
    display: inline-block;
    width: 100%;
    padding-bottom: 12vmin;
    clip-path: polygon(0% 50%, 100% 50%, 100% 100%, 0% 100%);
  }
}
